Produce Video only stream fails.

## Bug Report

### Your environment

- Operating system: Mac OS Sequoia 15.5
- Browser version: Chrome Dev - Version 140.0.7259.2 (Official Build) dev (x86_64)
- npm version: 10.8.2
- mediasoup version:  "github:versatica/mediasoup#v3" - [13d05b4]
- mediasoup-client version: "github:versatica/mediasoup-client#v3" - [0e89d6b]

### Issue description
Produce Video only stream fails with the error 

`failed:InvalidAccessError: Failed to execute 'setRemoteDescription' on 'RTCPeerConnection': Failed to set remote answer sdp: Failed to set recv parameters for m-section with mid='0'
`

Steps to recreate:
Able to recreate this in media soup-demo by not enabling mic when joining the room. Have attached the git diff
[video_only.diff.txt](https://github.com/user-attachments/files/21342454/video_only.diff.txt)

_Note: This issue happens only in the beta and dev versions of Chrome, but works fine in Chrome stable Version 138.0.7204.158 (Official Build) (x86_64)_



### Analysis:
setRemoteDescription fails, because the RTP extension header 3 was set to urn:3gpp:video-orientation in offer (setLocalDescription), but changed to http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01 in answer(setRemoteDescription). 

Chrome logs the following error
`[81561:459607:0717/142244.166001:ERROR:third_party/webrtc/media/engine/webrtc_media_engine.cc:92] Extension negotiation failure: 3 was mapped to urn:3gpp:video-orientation but is proposed changed to http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01
`

### Reason
mediasoup-client generates the initial native RTP capabilities by generating an offer after adding both audio and video transceivers. In this case, the RTP header extensions in the video m-section are

```
a=extmap:14 urn:ietf:params:rtp-hdrext:toffset
a=extmap:2 http://www.webrtc.org/experiments/rtp-hdrext/abs-send-time
a=extmap:13 urn:3gpp:video-orientation
a=extmap:3 http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01
a=extmap:5 http://www.webrtc.org/experiments/rtp-hdrext/playout-delay
a=extmap:6 http://www.webrtc.org/experiments/rtp-hdrext/video-content-type
a=extmap:7 http://www.webrtc.org/experiments/rtp-hdrext/video-timing
a=extmap:8 http://www.webrtc.org/experiments/rtp-hdrext/color-space
a=extmap:4 urn:ietf:params:rtp-hdrext:sdes:mid
a=extmap:10 urn:ietf:params:rtp-hdrext:sdes:rtp-stream-id
a=extmap:11 urn:ietf:params:rtp-hdrext:sdes:repaired-rtp-stream-id
a=extmap:12 https://aomediacodec.github.io/av1-rtp-spec/#dependency-descriptor-rtp-header-extension
a=extmap:9 http://www.webrtc.org/experiments/rtp-hdrext/video-layers-allocation00

```

For video only producer, offer is generated by adding only a video track. In this case, the RTP header extensions in the video m-section are different.
```
a=extmap:1 urn:ietf:params:rtp-hdrext:toffset
a=extmap:2 http://www.webrtc.org/experiments/rtp-hdrext/abs-send-time
a=extmap:3 urn:3gpp:video-orientation
a=extmap:4 http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01
a=extmap:5 http://www.webrtc.org/experiments/rtp-hdrext/playout-delay
a=extmap:6 http://www.webrtc.org/experiments/rtp-hdrext/video-content-type
a=extmap:7 http://www.webrtc.org/experiments/rtp-hdrext/video-timing
a=extmap:8 http://www.webrtc.org/experiments/rtp-hdrext/color-space
a=extmap:9 urn:ietf:params:rtp-hdrext:sdes:mid
a=extmap:10 urn:ietf:params:rtp-hdrext:sdes:rtp-stream-id
a=extmap:11 urn:ietf:params:rtp-hdrext:sdes:repaired-rtp-stream-id
a=extmap:13 https://aomediacodec.github.io/av1-rtp-spec/#dependency-descriptor-rtp-header-extension
a=extmap:14 http://www.webrtc.org/experiments/rtp-hdrext/video-layers-allocation00
```

Answer is generated using the initial native RTP capabilities and this results in a mismatch between the id and extensions.
In the current stable version of Chrome (138), this is fine, but in beta and dev versions of Chrome, it is throwing an error.

Thanks, the problem is perfectly explained. Indeed it was not a good idea to assume that codec configuration and header extensions could be statically obtained whithin device.load() since, as we can see now in Chrome beta, there is no guarantee that same codec configurations and header extensions are gonna be generated later when creating a PeerConnection. So there is huge work to do here. I will work on this soon.

@ramesh-kv-rc in which version of Chrome Canary does the issue happen to you? And which OS? I'm testing Chrome Canary 140.0.7309.0 in macOS Silicon and the issue doesn't happen.

This bug was found in Version 140.0.7259.2. But now the chrome dev browser got updated to Version 140.0.7299.0 and the issue is no longer happening.
Looks like the webrtc change for this got reverted - https://webrtc.googlesource.com/src.git/+/1ab982fa34894fa2f5d2e3b7b3f31244efdffaf9

@alvestrand FYI

Just my thoughts here:

1. I understand that when creating PC1 with just audio and PC2 with audio and video or just video, it's legitimate that the id of a specific extension has different values in PC1 and PC2. I mean, it's inconvenient for me since I assumed ids are static despite the media kinds in the PC so I have to refactor code in mediasoup-client (but that's ok, I cannot argue against that).
2. Said that, I want to assume that the id of an extension already existing in the PC will remain the same if later we add audio or video to the same PC.
3. And I want to assume that the ids of extensions will always be the same across different media sections.

Not sure if bullets 2 and 3 are mandatory as per spec (I'd say they are not but still I think that doing it differently would make things way harder).

Hello, FYI, this issue is now occurring in the following Chrome builds
- latest Chrome beta build -  Version 140.0.7339.5 (Official Build) beta (x86_64)
- latest Chrome dev build - Version 141.0.7340.0 (Official Build) dev (x86_64)

So that means that these changes go ahead and they could land in next Chrome Stable at any time. Thanks for reporting. I will work on it this week. BTW, do you know when those changes are expected to land in Chrome Canary? CC @fippo in case you know.

https://chromiumdash.appspot.com/commit/e30dd59e0362ef7c5cd62294daed5e24e7e552c9 -- already in beta and M140 is due for stable release on September 1st

How it's supposed to work:

(implementation) When you generate an offer, the internal code looks at the list of extensions you want to add, and assigns numbers starting from 1. The same allocator is used for all sections in an offer, so if you first add an audio section and then a video section, you're likely to see 1, 2, 3, 4 added in the audio section, while (if 4 is an unique audio extension) the video section contains 1, 2, 3 (common extensions) and 5, 6, 7 (video only extensions).

(spec) The rules for header extensions (RFC 8285 section 7) say that "the same identifier MUST be used for the same offered extension in the answer", and "A session update MAY add or remove extension(s).  Identifier values in the valid range  MUST NOT be altered (remapped)."

So this procedure: "Answer is generated using the initial native RTP capabilities and this results in a mismatch between the id and extensions." is not a valid way of generating an answer.

Note - I have no real idea why this remapping wasn't caught earlier - I added the check for remappings in october 2021 (https://webrtc-review.googlesource.com/c/src/+/235826).


Note to https://github.com/versatica/mediasoup-client/issues/330#issuecomment-3109030499 - the IDs are required to be stable for the lifetime of a PC.
In theory, one could have different maps for different transports (if using more than one transport), but I think the current code just checks across the whole PC - at least when allocating. BUNDLE requires that all media sections mapped to one transport use the same IDs for header extensions.

> So this procedure: "Answer is generated using the initial native RTP capabilities and this results in a mismatch between the id and extensions." is not a valid way of generating an answer.
> 
> Note - I have no real idea why this remapping wasn't caught earlier - I added the check for remappings in october 2021 (https://webrtc-review.googlesource.com/c/src/+/235826).

Here, by "answer is generated using the initial native RTP capabilities" we mean that, specifically in mediasoup-client, we create an ephemeral PeerConnection (in load time) with fake audio&video inputs and inspect the generated codec payload numeric IDs and RTP extension IDs in the generated offer and we cache them. And later, when a real mediasoup-client `Transport` is created (this is, another PeerConnection) we assume that its SDP offer has same IDs as the ones in the former ephemeral PeerConnection. So mediasoup-client itself generates a "remote" SDP answer by assuming those IDs (rather than inspecting the effective IDs in the browser generated offer) and here the problem with latest changes in Chrome: the real IDs are not the same as in the former ephemeral PC. Those IDs now depend on whether the PC is initiated with audio or video. So for example, the same RTP extension URI will be assigned a different numeric ID depending on whether the first sending transceiver in the PC is audio or video. And that breaks our assumption in mediasoup-client (which BTW has worked for 10 years). So this is exactly what I will fix in mediasoup-client.

> the IDs are required to be stable for the lifetime of a PC. In theory, one could have different maps for different transports (if using more than one transport), but I think the current code just checks across the whole PC - at least when allocating. BUNDLE requires that all media sections mapped to one transport use the same IDs for header extensions.

I see. In our case, we use BUNDLE for all the outbound media so we don't need to care about that potential scenario in which IDs are different in each transport of the PC.

Thanks a lot @alvestrand.

Ok, PR done here: https://github.com/versatica/mediasoup-client/pull/336


New version 3.15.0 released and announced in the forum:

https://mediasoup.discourse.group/t/urgent-upgrade-to-mediasoup-client-3-15-0-asap/6821

Thanks a lot @ramesh-kv-rc @fippo and @alvestrand 